.card {
  background-image: grey;
  height: 192px;
  border-radius: 4px;
  margin: 16px;
  padding: 0;
  background:
    linear-gradient(-180deg,rgba(0,0,0,0.00) 40%, rgba(0,0,0,0.68) 100%);

  background-position: center;
  background-size: cover;
  box-shadow: 0px 5px 15px -1px rgba(0,0,0,0.50);
  overflow: hidden;


  transform: scale(1.0);
  transition-duration: 0.2s;
  transition-property: transform;

  &:hover{
    cursor: pointer;
  }
  &.full{
    border-radius: 0px;
    margin: 0;
    height: 100%;
    &:hover{
      cursor: auto;
      transform: scale(1);
    }
  }
}




/* contents of card */
.card-topbar{
  height: 48px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.30) 100%);
}

.recommends{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  //width: 100%;
  color: white;
  text-align: right;
  padding: 8px 16px;
  margin: 0;
  text-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.card-spacer-top{
  height: 45.8%;
}

.card.full .card-spacer-top{
  height: 40%;
}

.card-info{

}

.series-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  padding: 0px 0 0 16px;
  vertical-align: text-bottom;
  text-shadow: 0 0 6px rgba(0,0,0,0.25);
}



.description{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  height: 100px;
  overflow-y: hidden;
  color: white;
  text-align: left;
  padding: 8px 16px;
  text-shadow: 0 0 6px rgba(0,0,0,0.25);
}

.btnbar-wrap{
  height: 20%;
  width: 100%;
}

.btn-wrap{
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;

  transform: scale(1.0);
  transition-duration: 0.2s;
  transition-property: transform;
}

.btn-wrap:hover{
  cursor: pointer;
  transform: scale(1.6);
}


.accept{
  background-image: url("/img/ICN32_accept@2x.png");
}

.decline{
  background-image: url("/img/ICN32_decline@2x.png");
}
